snippet \template "description" A
"template" :	{
	"id"           : 0,
		"date"         : "",
		"description"  : "",
		"iDescription" : "",
		"category"     : "",
		"text"         : [
			"",
		"",
		"",
		""
		],
		"images"       : [
			[
				"",
		""
			],
			[
				"",
			""
			],
			[
				"",
			""
			],
			[
				"",
			""
			],
			[
				"",
			""
			],
			[
				"",
			""
			]
			]
},
endsnippet

