
./config/*
!./config/bat
!./config/zsh
!./config/xorg
!./config/tmux
!./config/rofi
!./config/nvim
!./config/kitty
!./config/coc
!./config/i3
!./config/pulse
!./config/mpv
!./config/autorandr
!./config/conky
!./config/nix



