
./config/*
./config/Authy Desktop
./config/Bitwarden
!./config/bat
!./config/zsh
!./config/xorg
!./config/tmux
!./config/rofi
!./config/nvim
!./config/kitty
!./config/coc
!./config/i3
!./config/mpv
!./config/autorandr
!./config/conky
!./config/nix



